{
    "extends": [
        "react-app",
        "react-app/jest",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "overrides": [
        {
            "files": ["src/views/common/icons.tsx"],
            "rules": {
                "no-restricted-imports": "off"
            }
        }
    ],
    "rules": {},
    "settings": {
        "propWrapperFunctions": [
            "forbidExtraProps",
            {
                "property": "freeze",
                "object": "Object"
            },
            {
                "property": "myFavoriteWrapper"
            }
        ],
        "linkComponents": [
            "Hyperlink",
            {
                "name": "Link",
                "linkAttribute": "to"
            }
        ]
    }
}
