.parse {
  display: inline-block;
  margin: 0 2px;
  padding: 0 2px;
  border: 1px solid #ccc;

  &.parse-quantity {
    border-color: #cfc;
    background-color: #e7ffe7;
  }
  &.parse-units {
    border-color: #fcc;
    background-color: #ffe7e7;
  }
  &.parse-name {
    border-color: #ccf;
    background-color: #e7e7ff;
  }
  &.parse-prep {
    border-color: #cff;
    background-color: #e7ffff;
  }
}