.task-list {
  .ant-list-header {
    border-bottom: 1px solid #aaa;
  }
  .task {
    &.ant-list-item { // to beat the cascade
      padding-top: 2px;
      padding-bottom: 0;
    }

    .ant-input {
      border-width: 0;
      border-bottom: 1px solid #eee;
    }

    .ant-input-group-addon {
      border-width: 0;

      button.complete {
        color: #52c41a;
        &:hover {
          color: #fff;
          background-color: #52c41a;
          border-color: #52c41a;
        }
      }
    }
  }
  .task-section {
    border-bottom: 1px solid #ccc;

    input {
      font-weight: bold;
      font-size: 110%;
      border-width: 0;
    }
  }
  .task-question {
    .ant-input-group-addon {
      background-color: #ff9;

      button {
        background-color: #ffd;
      }
    }
    input {
      background-color: #ffe;
    }
  }
  .task-active {
    input {
      background-color: #f9fcff;
    }
  }
  .task-selected {
    input {
      background-color: #f0f7ff;
    }
  }
  .task-deleting {
    opacity: 0.8;
    input {
      text-decoration: line-through;
    }
  }
  .task-completing {
    opacity: 0.8;
    input {
      background-color: #f0fff0;
    }
  }
  .task-dead-child {
    opacity: 0.6;
    input {
      text-decoration: line-through;
    }
  }
}
