@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&family=Stint+Ultra+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Encode+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Encode+Sans+Semi+Condensed&family=Encode+Sans+Semi+Expanded:wght@500&display=swap");

// avoid the layout flash before CssBaseline loads
html,
body {
    margin: 0;
    padding: 0;
}

.markdown {
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child,
    p:first-child,
    pre:first-child {
        margin-top: 0;
    }

    h1:last-child,
    h2:last-child,
    h3:last-child,
    h4:last-child,
    h5:last-child,
    h6:last-child,
    p:last-child,
    pre:last-child {
        margin-bottom: 0;
    }

    .diff {
        .range {
            font-weight: bold;
            color: #8250df;
        }

        .inserted {
            background-color: #dafbe1;
            color: #116329;
        }

        .deleted {
            background-color: #ffebe9;
            color: #82071e;
        }
    }

    ol {
        padding: 0;
        list-style: none;
        counter-reset: cntr;
    }

    ol li {
        margin-bottom: 15px;
        counter-increment: cntr;

        &::before {
            content: "Step " counter(cntr);
            color: #870000;
            display: block;
            font-weight: bold;
            font-family: "News Cycle", sans-serif;
            font-size: 1.1em;
            text-transform: uppercase;
        }
    }
}

.MuiDataGrid-row.duplicates-of {
    background-color: rgba(255, 228, 1, 0.26);
}

@media (prefers-color-scheme: dark) {
    .markdown {
        .diff {
            .range {
                color: #a990d7;
            }

            .inserted {
                background-color: #212622;
                color: #22c953;
            }

            .deleted {
                background-color: #1e1111;
                color: #ef899b;
            }
        }

        ol li {
            &::before {
                color: #ff9595;
            }
        }
    }

}
